# NOTE: All shell-style variables ARE EXPAND (and if seen, become mandatory)...

[agent]
# hostname = "foo"
interval = 15
compression_threshold = 512
socket_name = "massaffect"
controller_url = "https://localhost/collect"
# As indicated above, this environment variable MUST be set!
agent_secret = "${MASSAFFECT_AGENT_SECRET}"

[[agent.collectors]]
type = "LogCollector"
patterns = ["/var/log/syslog", "/var/log/auth.log"]
parser = "raw"
state_file = ".ma_raw.json"

[[agent.collectors]]
type = "LogCollector"
patterns = ["/home/*/logs/*_access.log", "/var/log/nginx/*access.log"]
parser = "nginx"
state_file = ".ma_nginx.json"

[controller]
port = 9191

[controller.agents]
"127.0.0.1" =  "localhost"
"::1" = "localhost"

[system.postgres]
host = "127.0.0.1"
port = 5432
user = "massaffect"
# You could use something like ${MASSAFFECT_PG_PASSWORD} if you wanted...
password = "password"
dbname = "massaffect"
